<div class="add-task-container">
  <div class="add-task-wrapper">
    <h1>Add New Task</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" required readonly (focus)="picker.open()"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option value="low">Low</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="high">High</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-group">
        <button mat-button color="warn" type="button" (click)="onCancel()">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
          Add Task
        </button>
      </div>
    </form>
  </div>
</div>