:root {
  --primary-color: #007bff;
  --secondary-color: #333;
  --background-color: #f0f4f8;
  --card-background-color: #fff;
  --button-text-color: white;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
}

.mat-raised-button {
  background-color: var(--primary-color) !important;
  color: var(--button-text-color) !important;
}

.mat-icon-button {
  color: var(--primary-color) !important;
}